################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/EssaiSln4/.vs/EssaiSln4/FileContentIndex/121d8582-b1e0-4124-a56b-046bf01936fb.vsidx
